* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .search-form {
    text-align: center;
    margin: 20px 0;
  }
  
  .search-form input {
    padding: 5px 10px;
    border: 1px solid #333;
  }
  
  .search-form button {
    padding: 5px 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .add-patient {
    padding: 5px 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .content {
    text-align: center;
    padding: 20px;
  }
  
  .form-container {
    display: none;
    border: 1px solid #333;
    padding: 10px;
    margin-top: 20px;
  }
  
  .form-container h2 {
    margin-bottom: 10px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container input {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .form-container button {
    padding: 5px 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  #patientList {
    list-style: none;
    margin-top: 20px;
  }
  
  .patient-item {
    background: orange;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .patient-options {
    margin-top: 5px;
    text-align: end;
  }
  
  .patient-options button {
    background: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
  }