<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Receive Files from Doctor</title>
</head>
<body>
    <h1>Receive Files from Doctor</h1>
    <div id="fileList"></div>

    <script src="web3.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
